<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/crop.css">

  <title>फसल सुझाव (CropReco)</title>
</head>
<body>

  <div class="container">
    <nav class="navbar">
      <div class="brand left">फसल सुझाव (CropReco)</div>
      <div class="right">
          <a href="/">Home</a>
          <a href="/crop">Predict crop</a>
          <a href="/userManual">user manual</a>
          <a href="/about">About Us</a>
      </div>
    </nav>